
{% extends 'positivepets/base.html' %}

{% block body %}
    <title>   {% block title %} About{% endblock %} </title>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="color: green"> About Positive Pets </h2>
                <b> Positive Pets is a place to share information about pets.</b>
                <b> Kids will enjoy:</b>
                <ul>
                    <li>writing about their pets in their own editable space</li>
                    <li>reading about their friends' pets</li>
                    <li>communicating with each other through basic chatroom and closed-system email</li>
                    <li>having fun with picture uploads (coming soon: video and audio files) </li>
                </ul>

                <b> Positive Pets is a safe environment for learning about the technology adults are using.</b>
                <ul>
                    <li> No data collected</li>
                    <li> No ads </li>
                    <li> No strangers </li>
                    <li> No video games </li>
                    <li> Special parent user status offers full view of messaging activity</li>
                </ul>

                <b>Positive Pets is easy</b>
                <ul>
                    <li> Names are not case-sensitive </li>
                    <li> Simple passwords allowed </li>
                    <li> Choice-lists for email recipient selection </li>
                </ul>


            </div>
        </div>
    </div>
    <br>
{% endblock %}