
{% extends 'positivepets/base.html' %}

{% block body %}
    <title>   {% block title %} About{% endblock %} </title>

    <div class="container" style="border:1px solid #cecece;">
        <span style="font-size:20pt;"> About Positive Pets </span>
        <hr style="border-color:gray;">
        <div class="row">
            <div class="col-md-6">
                <h4> Here is what you can do in Positive Pets</h4>

                <h5> You </h5>
                 <ul >
                     <li>Upload a picture of yourself (Cartoon recommended)</li>
                     <li>Write about yourself in your "Bio"</li>
                     <li>Choose your favorite color for the buttons and picture borders </li>
                 </ul>

                <h5> Your Pets </h5>
                    <ul>
                        <li>Adopt a pet from the Animal Shelter</li>
                        <li>Name your pet</li>
                        <li>Write a description of your pet on your pet's own web page </li>
                    </ul>

                <h5>Your Friends </h5>
                    <ul>
                        <li>Send and receive email</li>
                        <li>Talk to them all at the same time in the chat room</li>
                        <li>Like your friend's pet?  Leave a comment on its page!</li>
                    </ul>

            </div>
            <div class="col-md-6">
                <h4 style="color:darkred" > Rules </h4>
                <ul>
                    <li style="color:darkred">No Gibberish!  Take the messages seriously </li>
                    <li style="color:darkred">No pet pictures of things that aren't animals</li>
                    <li style="color:darkred">No real pictures of yourself</li>
                    <li style="color:darkred">No identifying information such as phone numbers and addresses</li>
                    <li style="color:darkred">Always to be nice</li>
                </ul>
                <br>
            </div>
        </div>
        <hr style="border-color:gray;">
        <div class="row">
<div class="col-md-12">
            <h4>Note to Parents</h4>

            <p>The purpose of all of this is to give kids a safe and easy way to start using computers and have fun.
                The site should be fairly easy for kids over 8 years old.  It uses drop-down lists to avoid the need to spell
                things correctly and requires a minimal amount of work to get things done.
                Younger kids will need help with basic keyboard skills.    </p>
            <p>The "Animal Shelter" is there to allow kids to "adopt" pets without the need to search for pictures on internet "out in the wild".
                More advanced kids can upload pictures from file folders, and how the pictures get there (search download, phone pics)
                is up to them (and you). </p>
            <p>Please teach your kids not to put any identifying information online including pictures of themselves, phone numbers, email addresses, school names, etc. </p>

            <p> Positive Pets is designed to work on computers, tablets, and reasonably large phones.
                For now, I am the only one who can set up a new user or group.</p>
    <br>Have Fun, <br>Dave<br>
</div>
</div>

    </div>

{% endblock %}