
{% extends 'positivepets/base.html' %}

{% block body %}
    <title>   {% block title %} About{% endblock %} </title>

    <div class="container" style="border:1px solid #cecece;">
        <span style="font-size:20pt;"> About Positive Pets </span>
        <hr style="border-color:gray;">
        <div class="row">
            <div class="col-md-12">
                <b> Positive Pets is a place to share information about pets.</b>
                <b> Kids will enjoy:</b>
                <ul>
                    <li>Writing about their pets and themselves</li>
                    <li>Reading about their friends and their friends' pets</li>
                    <li>Emailing and chatting</li>
                    <li>Customizing their profile page </li>
                </ul>

                <b> Positive Pets is a safe environment for learning about the technology adults are using.</b>
                <ul>
                    <li> No personal details stored</li>
                    <li> No tracking, data collection or ads</li>
                    <li> No strangers </li>
                </ul>

                <b>Positive Pets is easy</b>
                <ul>
                    <li> Names and passwords are not case-sensitive </li>
                    <li> Simple passwords are allowed </li>
                    <li> No free text requirement -- all operations are driven by choice-lists </li>
                </ul>


            </div>
        </div>
    </div>

{% endblock %}