
{% extends 'positivepets/base.html' %}
{% block body %}
    {% load static %}


    <div class="container" style="border:1px solid #cecece;">

        <span style="margin:5px;font-size:20pt;">
            <img src="{{user.picture.url}}" class="icon" style="border-radius:5px; border: 5px solid {{color}};">
             Welcome to the Animal Shelter
        </span>

        <hr style="border-color:gray;">

        <div class="row">
            <div class="col-sm-5">
                <h4>Search for a pet to adopt</h4><br>
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row animal">
                            <div class="col-sm-4"> <label for="baby_or_fullgrown"> &nbsp &nbsp Age: </label></div>
                            <div class="col-sm-8"> <input type="radio" checked="checked" id="baby_or_fullgrown" name="baby_or_fullgrown" value="baby" style="margin: 0 0 0 10px;"> Baby
                                <input type="radio" name="baby_or_fullgrown" value="fullgrown" style="margin: 0 0 0 10px;"> Full Grown</div>
                        </div>
                        <div class="row animal">
                            <div class="col-sm-4">
                                <label for="animal_type"> &nbsp &nbsp Animal: </label>
                            </div>

                            <div class="col-sm-4">
                                <select id="animal_type" onchange="fillBreedsJson('{{ json_breeds | escapejs }}')" name="animal_type" style="margin: 0 0 0 10px;">
                                </select>
                            </div>
                        </div>

                        <div class="row animal">
                            <div class="col-sm-4">
                                <label for="breed"> &nbsp &nbsp Breed: </label>
                            </div>
                            <div class="col-sm-4">
                                <select id="breed" name="breed" style="margin: 0 0 0 10px;">
                                    <!--now filled by js function -->
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="search_words"> &nbsp &nbsp Details: </label>
                            </div>

                            <div class="col-sm-4">
                                <input name="search_words" id="search_words" size="20" placeholder="search words" style="margin: 0 0 0 10px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <button formaction="{% url 'positivepets:do_google_search' %}" onclick="saveState()" style="color:{{button_text_color}};background-color: {{user.color}}; margin: 10px;" type="submit" class="btn btn-default">Search</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>&nbsp &nbsp Or: use your own photo </h4>
                                <button formaction="{% url 'positivepets:pet_add' %}" onclick="saveState()" style="color:{{button_text_color}};background-color: {{user.color}}; margin: 10px;" type="submit" class="btn btn-default">Custom Pet</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="placehere" class="col-sm-4">

                <input type="image" src="{% static 'pup.jpg' %}" id="selected_image" name="selected_image" style="height:100%; width:100%; margin:0 0 10px 10px; border-radius:5px; border: 5px solid {{color}};">

            </div>
            <div class="col-sm-3">
                <input type="hidden" id="selected_animal" name="selected_animal">
                <input type="hidden" id="selected_breed" name="selected_breed" >
                <input type="hidden" id="selected_image_url" name="url">
                <input name="adopted_pet_name" id="adopted_pet_name" size="15" placeholder="Name this pet" style="margin: 10px 0 0 10px;">
                <button formaction="{% url 'positivepets:shelter_adopt' %}" style="color:{{button_text_color}}; background-color: {{user.color}}; margin: 10px;" type="submit" class="btn btn-default">Adopt</button>
            </div>
            </form>
        </div>

        <hr style="border-color:gray;">

        {% for img in image_list %}

                    <img src={{img}} onclick="makeBig('{{img}}')" onmouseover="mouseOver(this)" onmouseout="mouseOut(this, '{{user.color}}')" style="margin: 3px 0 0 0; border-radius:5px; border: 5px solid {{color}}; height:100px; width:100px; object-fit: cover;">

        {% endfor %}
    </div>

    <script src="{% static 'positivepets/animal_shelter.js' %}">
    </script>
    <script>
        var jsonObjectAnimals = JSON.parse('{{ json_animals | escapejs }}')
        var jsonObjectBreeds = JSON.parse('{{ json_breeds | escapejs }}')
        window.onload = loadMe(jsonObjectAnimals, jsonObjectBreeds)
    </script>


{% endblock %}