<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>   {% block title %} PositivePets {% endblock %} </title>

    {% load staticfiles %}
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="{% static 'positivepets/images/pawprint.ico' type='image/x-icon' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'positivepets/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  ></script>

</head>

<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <! -- disappearing hamburger button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if user.is_authenticated %}
                <a class="navbar-brand" style="color:{{user.color}};" href="{% url 'positivepets:profile' user.id 'show' %}" >PositivePets </a>
            {% else %}
                <a class="navbar-brand" href="" >PositivePets </a>
            {% endif %}
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="{% url 'positivepets:user_pets' user.id %}">
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp;My Pets
                        </a>
                    </li>

                    <li class="">
                        <a href="{% url 'positivepets:email_folder_show' 'inbox' %}">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; Email
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'positivepets:chatmessage_create' 'refresh' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Chat Room
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'positivepets:picture_search' %}">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; Animal Shelter
                        </a>
                    </li>


                </ul>

                {% if 0 %}
                    <form class="navbar-form navbar-left" role="search" method="get" action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" name="q" value="">
                        </div>

                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                {% endif %}

            {% endif %}

            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <!--<li class="">
                        <a href="{% url 'positivepets:pet_add' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Pet
                        </a>
                    </li> -->
                    <li class="">
                        <a href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>
                    {% if user.username == 'admin' or user.is_staff %}
                        <li class="">
                            <a href="{% url 'positivepets:register' %}">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp; New User
                            </a>
                        </li>
                    {% endif %}

                {% else %}

                    <li class="">
                        <a href="{% url 'login' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Login
                        </a>
                    </li>

                {% endif %}
                <!--<li class="">
                    <a href="{% url 'positivepets:about' %}">
                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>&nbsp; About
                    </a>
                </li> -->
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'positivepets:user_pets' user.id %}">
                            <span style="color:{{user.color}};"> Hello {{user.username | capfirst}}! </span>
                        </a>
                    {% endif %}

                </li>
            </ul>>
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}


{% if user.is_authenticated %}
    <br>
    <span> You are logged in as:
        <b> {{user.username | capfirst}} </b>
    </span>
{% else %}
    <span>
        <b> Please log in </b>
    </span>
{% endif %}

</body>
</html>