<! -- name must be named "modelname_form"

{% extends 'positivepets/base.html' %}
{% block title %} Message Board{% endblock %}


{% block body %}
<div class="container-fluid">
    <span style="font-size:20pt;"> Welcome to the Chat Room! </span>
    <span style="font-size:12pt; color:red;">These are messages for EVERYONE </span>
    <div class="row">
        <div class="col-xs-we col-xs-4">
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <b>New Message</b>
                        <div class="form-group">
                            <textarea class="form-control dp-pad" name="textbox" cols="20" rows="10"> </textarea>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xs-we col-xs-8">
             <table class="table table-bordered table-condensed">
                 <thead style="background-color:lightgray">
                     <th>Picture</th>
                     <th>Name</th>
                     <th>Time</th>
                     <th>Message</th>
                 </thead>
                 <tbody>
                 {% for item in comment_list %}
                 <tr>
                     <td> <img src="{{item.user.picture.url}}" style="width:30px;height:30px;"></td>
                     <td><b> {{item.user.username| capfirst}} </b></td>

                     <td> {{item.timestamp| date:"D, P"}} </td>
                     <td> {{item.comment}} </td>
                 </tr>
                 {% endfor %}
                 </tbody>
                 <br>

            </table>
        </div>
    </div>
</div>
{% endblock %}