
{% extends 'positivepets/base.html' %}

{% block body %}

    <title>   {% block title %} Pet Detail {% endblock %} </title>

    <div class="container">
        <div class="row-md-4">
            <div class="col-md-4">
                <img src="{{pet.picture.url}}" class="img-responsive">
                <h1> {{pet.name}} </h1>
                <h3> {{pet.type}} {% if pet.breed %} ({{pet.breed}}) {% endif %} </h3> <br>
            </div>

            <div class="col-md-4">
                <b> Here is some information about {{pet.name}} </b>

                {% if user.id == owner.id %}
                    <form class="form-horizontal" action="{% url 'positivepets:pet-description' pet.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea name="bigtext" cols="60" rows="15"> {{description}} </textarea>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                {% else %}
                    <br><br>
                    {{description}}
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <a href="{% url 'positivepets:user-pets' owner.id %}"> Back to {{owner.username | capfirst}}'s Page </a>

{% endblock %}