{% extends 'positivepets/base.html' %}
{% block title %} Pet Mail {% endblock %}


{% block body %}
<div class="container-fluid">
    <h2> Email Message </h2>
    <div class="row">
        <div class="col-sm-we col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                    <b>Sender: </b> {{ email.sender.username |capfirst}} <br>
                    <b>Recipients: </b> {{recipients}}  <br>
                    <b>Subject: </b> {{ email.subject }} <br>
                    <b>Received: </b> {{ email.timestamp}} <br>
                    <b>Message: </b> <br>
                        <textarea readonly class="form-control" rows=6  >{{ email.message }} </textarea>
                    </div>
                    <form class="form-inline" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button formaction="{% url 'positivepets:email_folder_show' 'inbox' %}" class="btn btn-default btn-sm">Back</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button onclick="openNewEmailWindow('reply', {{email.id}})" class="btn btn-default btn-sm">Reply</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button onclick="openNewEmailWindow('reply_all', {{email.id}})" type="reply" class="btn btn-default btn-sm">Reply All</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'positivepets/misc.js' %}">
</script>
{% endblock %}