
{% extends 'positivepets/base.html' %}
{% block title %} Pet Mail {% endblock %}


{% block body %}


<div class="container" style="border:1px solid #cecece;">
    <div class="row">
        <div class="col-sm-5">

            {% if action == 'none' %}
            <h4>Compose Email Message</h4>
            <p style="color:crimson;"> Hold down "Ctrl" to select more than one.</p>
            {% endif %}
            <form id="email_compose_form" class="form-horizontal" action="{% url 'positivepets:email_send' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                <div class="form-group">
                    <label for="recipients" class="col-sm-2 control-label">To:</label>
                    <div class="col-sm-10">
                        <select multiple class="form-control" id="recipients" name="recipients">
                            {% for u in user_list %}
                                {% if u.id in recipient_list %}
                                    <option selected> {{u.username | capfirst}} </option>
                                {% else %}
                                    <option> {{u.username | capfirst}} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="subject" class="col-sm-2 control-label">Subject:</label>
                    <div class="col-sm-10">
                        <input name="subject" type="text" class="form-control" id="subject" value="{{subject}}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="message" class="col-sm-2 control-label">Message:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows=6 name="message" id="message"> {{message}} </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button style="color:{{button_text_color}};background-color: {{user.color}};" type="submit" class="btn btn-default">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}