

{% extends 'positivepets/base.html' %}

{% block body %}

{% load staticfiles %}

    <div class="dave">
        <h3>Pet Owners</h3>
        <br>
    </div>

    <div class="container-2">
        {% for u in user_list %}
            {% if u.username != "admin" %}
                 <a href="{% url 'positivepets:user-pets' u.id %}" >
                    <div class="row">
                        <div class="col-sm-1">
                                <img src="{{u.picture.url}}" class="icon">
                        </div>
                        <div class="col-sm-2">

                            <span >
                                {% if u.id == user.id %}
                                    <b> {{ u.username | capfirst }} </b>
                                {% else %}
                                    {{ u.username | capfirst }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                 </a>

            {% endif %}
        {% endfor %}
    </div>

    <br> <br>

    {% if user.username == "admin" %}
        <a href="{% url 'positivepets:test_view' %}"> Test </a>  &nbsp;&nbsp;
        <a href="/admin/">Admin</a>
    {% endif %}

{% endblock %}

{% block footer %}

{% endblock %}