

{% extends 'positivepets/base.html' %}

{% block body %}

{% load staticfiles %}

    <div class="dave">
        <h3>Pet Owners</h3>
        <br>
    </div>

    <div class="container">
        <div class="col-sm-6">
            {% for u in user_list %}
                {% if u.username != "admin" %}
                     <div class="row">
                         <a href="{% url 'positivepets:user_pets' u.id %}">
                             <div class="col-sm-4">
                                 <img src="{{u.picture.url}}" class="icon">
                            </div>
                         </a>
                         <div class="col-sm-8">
                            <span >
                                {% if u.id == user.id %}
                                    <b> {{ u.username | capfirst }} </b>
                                {% else %}
                                    {{ u.username | capfirst }}
                                {% endif %}
                            </span>
                        </div>
                         <div class="col-sm-6">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
         </div>
         <div class="col-sm-6">
             {% if user.is_authenticated %}
                 {% if user.username != "admin" %}
                    <img src="{{user.picture.url}}" height="400" width="400">

                    <form class="form-inline" role="form" enctype="multipart/form-data" action="{% url 'positivepets:change_picture' %}" method="post" >
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="sr-only" for="inputfile">File input</label>
                            <input type="file" id="inputfile" name="picture">
                            <button type="submit" class="btn btn-default">Go</button>
                        </div>


                    </form>
                {% endif%}
             {% endif%}
         </div>
    </div>

    <br> <br>

    {% if user.username == "admin" %}
        <a href="{% url 'positivepets:test_view' %}"> Test </a>  &nbsp;&nbsp;
        <a href="/admin/">Admin</a>
    {% endif %}

{% endblock %}

{% block footer %}

{% endblock %}