<! -- name must be named "modelname_form"

{% extends 'positivepets/base.html' %}
{% block title %} Add a New Pet {% endblock %}
{% block albums_active %} active {% endblock %}

{% block body %}
<div class="container-fluid">
        <span style="font-size:20pt;"> Add/Edit Pet </span>
        <hr style="border-color:gray;">
    <div class="row">

        <div class="col-sm-we col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'positivepets/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button style="color:{{button_text_color}}; background-color:{{color}};border-color:gray;" type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}