
{% extends 'positivepets/base.html' %}

{% block body %}

    <title>   {% block title %} Pet Detail {% endblock %} </title>

    <div class="container" style="padding:10px;">
        <div class="row">
        <div class="col-md-9" style="font-size:20pt;">
            <span style="margin:5px;font-size:20pt;">
                <img src="{{owner.picture.url}}" class="icon" style="border-radius:5px; border: 5px solid {{owner.color}};">
                 Welcome to {{pet.name | capfirst}}'s Page!
            </span>
        </div>
        <div class="col-md-3">
            {% include 'positivepets/friendgroup_picker_template.html' with page='pet_detail' pet_id=pet.id %}
        </div>
        </div>
        <hr style="border-color:gray;">

        <div class="row">
            <div class="col-sm-4">
                <img src="{{pet.picture.url}}" class="img-responsive">
                <h1> {{pet.name}} </h1>
                <h3> {{pet.type}} {% if pet.breed %} ({{pet.breed}}) {% endif %} </h3>
                <div style="width:75%;">
                    <form class="form-inline" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button style="width:93%; color:{{button_text_color}}; background-color:{{owner.color}};border-color:gray;" formaction="{% url 'positivepets:user_pets_show' owner.id %}" type="submit" class="btn btn-default">{{owner.username | capfirst}}'s Pets</button>
                    </form>

                    <form class="form-inline" action="" method="get" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button style="width:93%; color:{{button_text_color}}; background-color:{{owner.color}};border-color:gray;" formaction="{% url 'positivepets:profile' owner.id 'show' %}" class="btn btn-default">{{owner.username | capfirst}}'s Profile</button>
                    </form>
                </div>


            </div>

            <div class="col-sm-4">
                <b> Here is some information about {{pet.name}} </b>
                <br>
                {% if user.id == owner.id %}
                    {% if action == 'edit' %}  <! show edit box and save button>
                        <form class="form-horizontal" action="{% url 'positivepets:pet_description_save' pet.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea name="bigtext" cols="45" rows="15"> {{description}} </textarea>
                            </div>

                            <div>
                                <button style="color:{{button_text_color}}; background-color:{{color}};border-color:gray;" type="submit" class="btn btn-default">Save</button>
                            </div>
                        </form>
                    {% else %} <! show display text and edit button>
                        {{description}} <br><br>
                        <form class="form-inline" action="{% url 'positivepets:pet_description_edit' pet.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button style="color:{{button_text_color}}; background-color:{{color}};border-color:gray;" type="submit" class="btn btn-default">Edit</button>
                        </form>
                    {% endif %}

                {% else %}
                        {{description}}
                {% endif %}


            </div>
            <div class="col-sm-4">
                <b> What do you think about {{pet.name}}? </b>

                 <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="form-group">
                        <textarea  class="form-control" name="textbox" rows="2" placeholder="Type your chat message here" style="margin: 0 10px 0 0px;"> </textarea>
                        <div class="row">
                            <button style="margin: 10px 0 0 15px; color:{{button_text_color}};background-color: {{owner.color}};" formaction="{% url 'positivepets:pet_comment_message_create' 'submit' pet.id %}" type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>


                <table style="margin:0 10px 0 0; background-color:white;" class="table table-bordered table-condensed">
                 <thead style="background-color:lightgray">
                     <th>Picture</th>
                     <th>Name</th>
                     <th>Message</th>
                 </thead>
                 <tbody>
                     {% for item in comment_list %}
                     <tr>
                         <td> <img src="{{item.user.picture.url}}" style=width:30px;height:30px;"></td>
                         <td style="color:{{item.user.color}};"><b> {{item.user.username| capfirst}} </b></td>
                         <td> {{item.comment}} </td>
                     </tr>
                     {% endfor %}
                 </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>

{% endblock %}