{% extends 'positivepets/base.html' %}

{% block body %}
    <br><br>
    <img src="{{petowner.picture.url}}" class="icon">
    <font size="6"><b>{{petowner.username | capfirst}}'s Pets:</b></font>
    </br></br>
    <div class="container">
        <div class="row-md-4">
            {% for pet in pet_list %}

                <div class="col-md-4">
                    <a href="{% url 'positivepets:detail' pet.id '0'  %}">
                        <img src="{{pet.picture.url}}" class="petpicture">
                    </a>

                    <h2> {{ pet.name }} </h2>
                    {% if petowner.username == user.username %}
                        <a href="{% url 'positivepets:detail' pet.id '0' %}" class="btn btn-primary btn-sm"> View Details </a>
                        <a href="{% url 'positivepets:pet_update' pet.id %}" class="btn btn-primary btn-sm"> Update </a>

                        <form action="{% url 'positivepets:pet_delete' pet.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="pet_id" value="{{pet.id}}"/>
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>

                        <!-- Favorite -->
                        <a href="#" class="btn btn-default btn-sm btn-favorite">
                            <span class="glyphicon glyphicon-star {% if pet.is_favorite %} active {% endif %}"></span>
                        </a>
                    {% endif %}
                    <br><br>
                </div>


            {% endfor %}
        </div>
    </div>

    <br><br>

{% endblock %}

{% block footer %}
{% endblock %}