
img{
  height: 250px;
  width: 250px;
}
.table-condensed{
  font-size: 12px;
}

.dp-pad{
  margin: 10px;
}

body{
  background: url("images/background.jpg");
  margin: 10px 10px 10px 10px;
}

.yellow{
color: yellow;
}

.icon{
  height: 60px;
  width: 60px;
  padding: 0 15px 15px 0;
}

.petpicture{
  width: 250px;
  height: 250px;
  object-fit: cover;
}

#dave-icon{
  height: 25px;
  width: 25px;
}

.navbar{
    border-radius:0;
}

.navbar-brand{
    font-family: cursive;     /*old code:  font-family: 'Satisfy', cursive; second arg is the back up if 'Satisfy' doesn't load*/
    font-size: xx-large;
}

input[type=submit]{
  background-color: lightpink;
  padding: 5px;
  color: black;
  width: 100%
  border: 1px solid black;
  border-radius: 4px;
}
